.item{
  background-color: lightcoral;
  border: 2px solid grey;
  border-radius: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: 50% 45% 5%;
  align-items:center;
}

.title{
  align-items: center;
  padding-left:20px;
}